@{
    ViewData["Title"] = "Contact Me - Fit Focus Health";
}

<div class="container mx-auto login-container" style="padding-top: 10em;">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <h1 class="mb-3 h3 register-heading">
                Contact Me
            </h1>
            <p>
                Please feel free to contact me via email at FitFocusedHealth@gmail.com
                <br />or comment on any of my posts here at Fit Focused Health!

            </p>
        </div>
    </div>
</div>

<div class="container p-5" style="margin: 8em;">
    <div class="col-6-lg">

    </div>
    <h1>Contact Me</h1>
    <p>Please feel free to contact me via email at FitFocusedHealth@gmail.com or
        comment on any of my posts here at Fit Focused Health!
    </p>
</div>
